body{
  background-color: bisque;
  font-family: 'Times New Roman', 'Verdana', 'Arial'
}

#heading{
  text-align: center;
  font-size: 87px;
  border: 10px solid transparent;
  padding: .1em;
  border-radius: 5px;
  border-image: url(../img/ingredients.jpg) 30 round;
}

.recipes{
  font-size: 30px;
  text-align:right;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  list-style-type: none;
}

img{
  height: auto;
  width: 500px;
}

.ingredients,
.steps{
  text-align: left;
  font-size: 20px;
  font-family: 'Verdana', 'Times New Roman', 'Arial';
}

.inghead{
  font-size: 30px;
}

.ingredientheading,
.headsteps{
  font-size: 36px;
}

.pagehead{
  font-size: 64px;
  color: rgb(78, 75, 75);
}

